FLASK_ENV=dev
FLASK_APP=wsgi.py
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me
DATABASE_URL=sqlite:///dev.db
CLOUDINARY_URL=cloudinary://<api-key>:<api-secret>@<cloud-name>
CORS_ORIGINS=http://localhost:5173
